<div class="container">
    <h2>Lista de Atletas</h2>
  
    <button (click)="navigateToNewUser()" class="btn btn-success mb-3">Crear Nuevo Usuarios</button>
  
    <div *ngIf="isLoading" class="alert alert-info">Cargando atletas...</div>
  
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de nacimiento</th>
          <th>Nacionalidad</th>
          <th>Deporte</th>
          <th>Posicion</th>
          <th>Tiene equipo?</th>
          <th>ID usuario</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let athlete of athletes">
          <td>{{ athlete.id }}</td>
          <td>{{ athlete.firstName }}</td>
          <td>{{ athlete.lastName }}</td>
          <td>{{ athlete.birthDate }}</td>
          <td>{{ athlete.nationality }}</td>
          <td>{{ athlete.sport }}</td>
          <td>{{ athlete.position }}</td>
          <td>{{ athlete.isSigned }}</td>
          <td>{{ athlete.user }}</td>
          <td>
            <button *ngIf="athlete.id !== undefined" (click)="editUser(athlete.id!)" class="btn btn-warning">Editar</button>
            <button *ngIf="athlete.id !== undefined" (click)="deleteUser(athlete.id!,athlete.user!)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>