<div class="container mt-4">
    <h2>Lista de Clubes</h2>
    <button (click)="navigateToNewClub()" class="btn btn-success mb-3">Crear Nuevo Club</button>
    <div *ngIf="isLoading" class="alert alert-info">Cargando clubes...</div>
    <div *ngIf="message" class="alert alert-success">{{ message }}</div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Fecha de fundacion</th>
          <th>Usuario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let club of clubs">
          <td>{{ club.id }}</td>
          <td>{{ club.name }}</td>
          <td>{{ club.address }}</td>
          <td>{{ club.openingDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ club.user.email }}</td>
          <td>
            <button *ngIf="club.id !== undefined" (click)="editClub(club.id!)" class="btn btn-warning me-2">Editar</button>
            <button *ngIf="club.id !== undefined" (click)="deleteClubAndUser(club.id!, club.user.id!)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>