<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<div class="container-sm mt-4">
    <div class="card shadow-sm p-4">    
        <h2>{{ isEditMode ? 'Editar Usuario' : 'Crear Usuario' }}</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input id="email" type="email" formControlName="email" class="form-control" required/>
            <div *ngIf="userForm.get('email')!.invalid && userForm.get('email')!.touched">
                <small *ngIf="userForm.get('email')!.errors?.['required']" class="form-text">El email es requerido.</small>
                <small *ngIf="userForm.get('email')!.errors?.['email']" class="form-text">Formato de email inválido.</small>
            </div>
          </div>
        
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input id="password" type="password" formControlName="password" class="form-control" required/>
            <div *ngIf="userForm.get('password')!.invalid && userForm.get('password')!.touched">
                <small *ngIf="userForm.get('password')!.errors?.['required']" class="form-text">La contraseña es requerida.</small>
                <small *ngIf="userForm.get('password')!.errors?.['minlength']" class="form-text">La contraseña debe tener al menos 8 caracteres.</small>
                <small *ngIf="userForm.get('password')!.errors?.['maxlength']" class="form-text">La contraseña no debe exceder los 20 caracteres.</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Número de Teléfono</label>
            <input id="phoneNumber" formControlName="phoneNumber" class="form-control" required/>
            <div *ngIf="userForm.get('phoneNumber')!.invalid && userForm.get('phoneNumber')!.touched">
                <small *ngIf="userForm.get('phoneNumber')!.errors?.['required']" class="form-text">El número de teléfono es requerido.</small>
                <small *ngIf="userForm.get('phoneNumber')!.errors?.['minlength']" class="form-text">El número de teléfono debe tener al menos 9 caracteres.</small>
                <small *ngIf="userForm.get('phoneNumber')!.errors?.['pattern']" class="form-text">El número de teléfono es inválido.</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="userType" class="form-label">Tipo de Usuario</label>
            <select id="userType" formControlName="userType" class="form-select" required>
                <option value="" disabled selected>Seleccione el tipo de usuario</option>
                <option value="ATHLETE">Atleta</option>
                <option value="AGENT">Agente</option>
                <option value="CLUB">Club</option>              
            </select>
            <div *ngIf="userForm.get('userType')!.invalid && userForm.get('userType')!.touched">
                <small *ngIf="userForm.get('userType')!.errors?.['required']" class="form-text">El tipo de usuario es requerido.</small>
            </div>
          </div>
        
          <button type="submit" class="btn btn-success mr-3" [disabled]="userForm.invalid">Enviar</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
        </form>
    </div>
</div>