<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Trabajo DSW</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Login 1</a></li>
      <li><a href="#">Page 2</a></li> -->
    </ul>
    <ul class="nav justify-content-end">
      <li class = "nav-item"><a href="./signup"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
      <!-- Enlace al componente Login -->
      <li class = "nav-item"><a href="./login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión</a></li>
      <!-- Enlace al componente SignUp -->
    </ul>
  </div>
</nav>
<h1>Bienvenido!</h1>


