<div class="card mb-3 mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <small class="text-muted">{{ post.author.email }}</small>
            <small class="text-muted">{{ post.createdAt | date: 'dd/MM/yyyy' }}</small>
        </div>
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
    </div>
    <!-- <button *ngIf="user.id !== undefined" (click)="deletePost(user.id!)" class="btn btn-danger">Eliminar</button> -->

</div>
