<div class="container">
    <h2>Lista de Atletas</h2>
    <button (click)="navigateToNewAthlete()" class="btn btn-success mb-3">Crear Nuevo Atleta</button>
    <div *ngIf="isLoading" class="alert alert-info">Cargando atletas...</div>
    <div *ngIf="message" class="alert alert-success">{{ message }}</div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de nacimiento</th>
          <th>Nacionalidad</th>
          <th>Deporte</th>
          <th>Posicion</th>
          <th>Tiene equipo?</th>
          <th>ID usuario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let athlete of athletes">
          <td>{{ athlete.id }}</td>
          <td>{{ athlete.firstName }}</td>
          <td>{{ athlete.lastName }}</td>
          <td>{{ athlete.birthDate }}</td>
          <td>{{ athlete.nationality }}</td>
          <td>{{ athlete.sport }}</td>
          <td>{{ athlete.position }}</td>
          <td>{{ athlete.isSigned }}</td>
          <td>{{ athlete.user.id }}</td>
          <td>
            <button *ngIf="athlete.id !== undefined" (click)="editAthlete(athlete.id!)" class="btn btn-warning me-2">Editar</button>
            <button *ngIf="athlete.id !== undefined" (click)="deleteAthleteAndUser(athlete.id!, athlete.user.id!)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>